#### Upload Dataset

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rcParams
rcParams['figure.figsize'] = 13, 7

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, roc_curve, roc_auc_score

In [2]:
import warnings

warnings.filterwarnings(action='ignore')

In [5]:
df = pd.read_csv("df_uci_adult.csv")

df.head()

,age,fnlwgt,education,marital.status,occupation,relationship,sex,capital_gain,capital_loss,hours-per-week,income
0,50,83311,2,0,3,0,1,0,0,13,<=50K
1,38,215646,4,2,5,1,1,0,0,40,<=50K
2,53,234721,8,0,5,0,1,0,0,40,<=50K
3,28,338409,2,0,9,5,0,0,0,40,<=50K
4,37,284582,5,0,3,5,0,0,0,40,<=50K

#### LabelEncoding

In [21]:
from sklearn.preprocessing import LabelEncoder
categorical = ['education', 'marital.status', 'occupation', 'relationship', 'sex', 'income']
label_encoder = LabelEncoder()
for col in categorical:
    label_encoder.fit(df[col])
    df[col] = label_encoder.transform(df[col])

#### split train, test

In [22]:
from sklearn.model_selection import train_test_split
x = df[['education', 'marital.status', 'occupation', 'relationship',
     'sex', 'age', 'fnlwgt', 'capital_gain', 'capital_loss', 'hours-per-week']]
y = df['income']
    
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

### Modeling (XGBClassifier)

In [10]:
from xgboost import XGBClassifier
xgb_clf = XGBClassifier(n_estimators = 500,
                        learning_rate = 0.05,
                        use_label_encoder = False,
                        eval_metric = "logloss",
                        early_stopping_rounds = 5,
                        n_jobs = -1)

In [24]:
# 모델 적합
xgb_clf.fit(x_train, y_train)

[22:47:54] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "early_stopping_rounds" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, early_stopping_rounds=5,
              eval_metric='logloss', gamma=0, gpu_id=-1, importance_type='gain',
              interaction_constraints='', learning_rate=0.05, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=500, n_jobs=-1,
              num_parallel_tree=1, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [26]:
# 모델 예측값
xgb_predict = xgb_clf.predict(x_test)

In [31]:
acc_score = accuracy_score(xgb_predict, y_test)
print("Accuracy score:", np.round(acc_score,2))

Accuracy score: 0.87

### Reference

https://www.kaggle.com/code/tirendazacademy/classification-analysis-with-xgboost